{% extends 'base.html.twig' %}

{% block title %}modifPlayer{% endblock %}


{% block monTitre %}
{% if isModification %}
    Modification {{player.fname}} {{player.lname}}
    {% else %}
    Ajout d'un aliment
{% endif %}
{% endblock %}

{% block body %}


{{form_start(form)}}
<div class="row">
    <div class="col-4 m-3">
        {% if isModification %}
            <img src="{{asset('images/player/' ~ player.image)}}" style="width: 20% ">
        {% endif %}    
        <div>{{form_row(form.imageFile)}}</div>
        <div>{{form_row(form.type, {"attr" : {'class' : 'text-success '}, "label" : "Catégorie" })}}</div> 
        <div>{{form_row(form.fname, {"attr" : {'class' : 'text-success bg-primary'}, "label" : "Prénom"})}}</div>   
    </div>
    <div class="col-4">
        <div>{{form_row(form.lname, {"attr" : {'class' : 'text-success '}, "label" : "Nom" })}}</div>
        {# <div>{{form_row(form.category, {"attr" : {'class' : 'text-success '}, "label" : "Catégorie" })}}</div> #}
        <div>{{form_row(form.mail, {"attr" : {'class' : 'text-success '}, "label" : "Email" })}}</div>
        <div>{{form_row(form.phone, {"attr" : {'class' : 'text-success '}, "label" : "Téléphone" })}}</div>
    </div>
</div>
{# <div class="row">
    <div class="col-4 m-3"> #}
        <input type="submit" class="btn btn-warning" value="Enregistrer">
    {# </div>
</div> #}
{{form_end(form)}}

{% endblock %}
